@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --darkest: #333;
    --Gray: #7a7a7a;
    --accent: rgb(0, 123, 255);
    --lightGray: #f6f7fb;
    --offWhite: #f9fafb;
    --pureWhite: white;
}

/*General Styles*/
*, *::before, *::after{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.grid-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 1rem;
    color: var(--darkest);
    line-height: 1.5;
}

.column-1{
    margin-right: 1.5rem;
}

.column-2{
    margin-left: 1.5rem;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    padding: 7rem 0;
}

.section-header{
    text-align: center;
    margin-bottom: 1.5rem;
}

.title{
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 0.9rem;
}

.title:before{
    position: relative;
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--accent);
    font-size: 1.15rem;
    letter-spacing: 2px;
}

.title:after{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--accent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header{
    max-width: 600px;
    margin: 0 auto;

}

.title-sm{
    font-size: 1.6rem;
}

.btn{
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--accent);
    color: var(--pureWhite);
    border-radius: 2rem;
    transition: 0.8;
}

.btn.small{
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}
/*End General Styles*/


/*Header*/
header{
    width: 100%;
    background-color: var(--pureWhite);
    overflow: hidden;
    position: relative;
}

nav{
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.logo{
    width: 100px;
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
    padding-top: 7px;
}

.links a{
    display: inline-block;
    padding: 0.6rem 1rem;
    color: var(--Gray);
    font-size: 0.8rem;
    line-height: 1;
    transition: all 0.8;
}

.links a.active{
    background-color: var(--accent);
    color: var(--pureWhite);
    border-radius: 2rem;
    margin-left: 1rem;
}

.links a:hover{
    color: var(--darkest);
}

.links a.active:hover{
    color: var(--pureWhite);
    background-color: rgb(0, 81, 255);
}

.header-content .container.grid-2{
    min-height: calc(80vh - 4rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-title{
    line-height: 1.5;
    color: var(--darkest);
}

.header-content .text{
    margin: 1.5rem 0;
}


.btn:hover{
    background-color: rgb(0, 81, 255);
}


.header-content .image .img-element{
    max-width: 750px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}


.letters{
    position: absolute;
    width: 1.5%;
    top:0px;
    left: 5px;
    align-content: center;
    opacity: 0.7;
}
/*End Header*/



/*Skills*/
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
}

.card-wrap{
    margin: 1.7rem 0.8rem;
}

.card{
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 520px;
    background-color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 2rem;
    margin: 10px;
}

.card:before{
    content: attr(data-card);
    position: absolute;
    top: -20px;
    right: -15px;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    color: var(--accent);
    opacity: 0.05;
}

.card:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    background-color: var(--darkest);
    transition: 0.5s;
}

.card:hover{
    
    transform: translateY(-15px);
}

.card:hover:after{
    height: 70px;
}


.icon{
    width: 90px;
    margin-bottom: 1.5rem;
}

.card .title-sm{
    line-height: 1;
}

.card .text{
    font-size: 1.15rem;
    margin: 1.8rem 0;
}
/*End Skills*/



/*Portfolio*/
.portfolio{
    position: relative;
    width: 100%;
    background-color: var(--pureWhite);
}

.background-bg{
    position: absolute;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    background-color: var(--lightGray);
}

.filter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn{
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem;
    color: var(--darkest);
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;    
    transition: 0.5s;
}

.filter-btn.active{
    background-color: var(--darkest);
    color: var(--pureWhite);
}

.grid{
    width: 100%;
    margin: 1.5rem 0;
}


.grid-item{
    width: 33.33%;
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: center;
}

.gallery-image{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 330px;
    width: 100%;
    cursor: pointer;
}

.gallery-image img{
    position: absolute;
    height: 115%;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.gallery-image .img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--pureWhite);
    background-color: rgba(40, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 3.2rem;
    opacity: 0;
    transition: 0.5s;
}

.plus:before, .plus:after{
    content: "";
    position: absolute;
    width: 4.5rem;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pureWhite);
    border-radius: 3px;
}

.plus:before{
    transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description{
    width: 100%;
}

.img-overlay h3{
    font-size: 1.5rem;
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

/*End Portfolio*/


/*About*/
.about{
    overflow: hidden;
}

.about img{
    max-width: 600px;
}

.about .text{
    margin-top: 1rem;
}

.skills{
    margin: 1.5rem 0 2.5rem 0;
}

.skill{
    margin: 1rem 0;
}

.skill-title{
    color: var(--Gray);
    margin-bottom: 0.3rem;
}

.skill-bar {
    width: 70%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--lightGray);
    position: relative;
    overflow: hidden;
}

.skill-progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: var(--darkest);
    transition: 1s;
}

.about .column-1{
    position: relative;
}

.about .column-1:before {
    content: "Samuel";
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    color: var(--main-color);
    opacity: 0.04;
    top: 20px;
    left: 0;
    line-height: 0;
  }
/*End About*/




/*Testimonials*/
.testimonials{
    background-color: var(--lightGray);
    overflow: hidden;
}

.testi-content {
    margin-top: 6rem;
}

.reviews{
    overflow: hidden;
}

.review{
    position: relative;
    padding: 2rem 1.5rem;
}

.quote{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--Gray);
    opacity: 0.1;
    font-size: 8rem;
}

.review-text{
    line-height: 1.7;
}

.review-info{
    margin-top: 2rem;
}

.review-name{
    color: var(--darkest);
}

.review-job{
    color: var(--Gray);
}

.review-nav{
    bottom: 2.2rem;
    top: initial;
}

.swiper-button-prev:after, .swiper-button-next:after{
    display: none;
}

.swiper-button-next{
    right: 2rem;
    left: initial;
}


.swiper-button-prev{
    right: 4.5rem;
    left: initial;
}
/*End Testimonials*/

